<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
<!--Title that shows in the browser tab head-->
    <title>Bodyfat calculator</title>
<!--Icon that shows in browser tab head-->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<!--Bootstrap link. Adds style to normal HTML-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<!--Content-->
<body>
  <div class="container">
    <h1 class="display-4">Oops, something went wrong!<br>
      <small>Are you sure, you entered valid entries?</small></h1>
  </div>
</body>
